mixin header ( extra, elements )
    case extra
        when '+'
            .header__container
                .header
                    case elements
                        when 'no-elem'
                            .header__logo
                        default
                            .header__logo
                            .header__elements
                .header__extra
                    .relation
                    .relation__content
        default
            .header
                case elements
                    when 'no-elem'
                        .header__logo
                    default
                        .header__logo
                        .header__elements