.footer
    span Провайдер:
    td.content_block( th:utext="${#strings.replace(partnerContact,',',',&lt;br/&gt;')}" )
    br
    a( href="http://moskva.beeline.ru/customers/products/mobile/services/details/uslugi-na-korotkikh-nomerakh/" ) Пользовательское соглашение


